/* general setup */

* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    /* Remove underline from all links */
    color: #06c;
    list-style-type: none;
    font-size: 20px;
}

body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}


/* styling header  */

header {
    background-color: black;
    padding: 14px;
}

nav a {
    color: #fff;
    opacity: 0.7;
}

nav a:hover {
    opacity: 1;
}

nav {
    /* background: skyblue; */
    width: 980px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
}


/* Utility classes */

.logo-link img,
.search-link img,
.cart-link img {
    display: block;
    height: 23px;
    /* padding: 12px 0px 0px; */
}



/*                ### Footer styling             */


/* # footer general setup  */

.footer {
    /* background-color: rgba(250, 235, 212, 0.824); */
    padding: 1.2em 6.9em;
    color: #1d1d1f;
    background-color: #f5f5f7;
}


/* footer links  */

footer a,
.footer-upper-note {
    color: #515154;
    font-size: 0.9em;
    font-weight: 400;
}

.footer-upper-note {
    color: #86868b
}

.footer-upper-note a {
    font-weight: 400;
    font-size: 0.9rem;
}

footer a:hover {
    text-decoration: underline;
}


/* first link section of the footer  */

.main-footer-links-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.66em;
}

.footer-links-column {
    padding: 0.33em;
    /* margin: 0 15px; */
}

.footer-links-column ul li {
    /* background-color: blueviolet; */
    text-decoration: none;
    list-style-type: none;
    /* space btween the links  */
    margin: 0.33em auto;
    padding-bottom: 0.33em;
}

.footer-links-column ul {
    /* background-color: aquamarine; */
    /* space btween between banch of title and links   */
    margin-bottom: 1.33em;
}

.footer-links-column h3 {
    font-size: 1em;
    font-weight: 600;
}


/*           2nd link section of z footer       */

.footer-last-para {
    margin-bottom: 0.66em;
    a {
        text-decoration: underline;
        color: #06c;
    }
}

.end-notes,
.linkss {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.end-note .linkss {
    margin: 0 0.66em;
    padding: 0.66em;
    flex: 1;
}

.linkss li {
    /* 
    or  .end-notes .linkss li     
    .linkss ul li -- wont work in this particular case
    becasue of the html structure. (b/c i denfined the class on the ul it self )
    */
    list-style-type: none;
    margin: auto 0.33em;
    /* background-color: aquamarine;  just to see which it will be selecting*/
}

footer img {
    height: 1.07em;
}





/*                                body                         */

section {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    text-align: center;
    padding: 10px;
}

section ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: 400;
}

section ul a {
    margin-right: 1.5em;
    text
    /* padding: 1px; */
}

section ul code {
    font-weight: 900;
    font-size: x-large;
    /* color: rgb(35, 82, 149); */
}

section ul a:hover,
section ul code:hover {
    color: black;
}


/* this is just for the trial of the ">" arrow  */

.right-arrow {
    color: rgb(35, 82, 149);
}

.iPhone-11-Pro {
    background-image: url(../../resources/images/home/iphone11-pro-bg.jpg);
    background-position: center;
    color: #fff;
    height: 580px;
    text-align: center;
    padding: 65px 28px;
    background-repeat: no-repeat;
}

.on-background h1 {
    font-weight: 600;
    font-size: 2.8em;
    /* backgroud: #dc2c2c; */
}

.on-background .discription {
    padding: 10px 0px;
    font-size: 1.73em;
}

.on-background .price {
    color: #86868b;
    font-size: 0.85em;
}

.iPhone-11 {
    background-image: url(../../resources/images/home/iphone11-bg.jpg);
    background-position: center;
    color: black;
    height: 580px;
    text-align: center;
    padding: 65px 28px 0px;
    background-repeat: no-repeat;
}

.side-heighlight p {
    padding: 0.66em 1.3em;
    font-weight: 400;
    font-size: large;
    text-align: center;
}


/* laying the fundation(lay out ) for all teh others. i give this for the 1st side higlight at first but now we can give  all the others the same name and automate the layout (sitting side to sied with specific padding, margin, etc...)*/

.left-heighlight,
.right-heighlight {
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover;  */
    /* width: 48.5%; */
    /* margin: 1% 0.5% 15% 1%; */
    padding-top: 10%;
    padding-bottom: 50%;
}

.content {
    margin-bottom: 10.5em;
   
}

.side-heighlight1 .left-heighlight {
    background-image: url(../../resources/images/home/watch-series-5.jpg);
}

.side-heighlight1 .right-heighlight {
    /* background-color: #dc2c2c; */
    background-image: url(../../resources/images/home/apple-card.jpg);
}

.side-heighlight2 {
    .left-heighlight {
        background-image: url(../../resources/images/home/apple-tv-background.jpg);
        margin-bottom: 10%;
    }
    .right-heighlight {
        background-image: url(../../resources/images/home/air-pods.jpg);
        /* padding-top: 10%; */
        /* margin-top: 25%; */
        background-color: #000000;
        color: #fff;
        background-position: bottom;
        ul li {
            padding-bottom: 5%;
        }
    }
}

.servant-logo {
    margin-top: 25%;
}

.watch-more-wrapper {
    margin-top: 25%;
    a {
        text-decoration: none;
        color: rgba(11, 0, 128, 0.644)
    }
}

.watch-more-wrapper a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
}

.side-heighlight3 .left-heighlight {
    background-image: url(../../resources/images/home/macbook-pro.jpg);
    background-color: #f5f5f78c;
    /* padding-top: 5%; */
    background-position: bottom;
}

.side-heighlight3 .right-heighlight {
    background-image: url(../../resources/images/home/new-ipad.jpg);
}

.side-heighlight3 {
    p {
        font-weight: 400;
    }
}


@media(min-width: 740px) {
    .left-heighlight,
    .right-heighlight {
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover;  */
        width: 48.5%;
        margin: 1% 0.5% 0% 1%;
        padding-top: 5%;
        padding-bottom: 40%;
    }
    .side2side {
        display: flex;
        justify-content: center;
        /* setting the hight is mandatory fot it to be visible since we inserted it as a bg img */
        height: 580px;
    }
}
